$card-w: 100%;
$card-h: 100px;
$card-background: #2e1437;
$card-transition: 2s all;
$card-border-thickness: 4px;
$card-border: $card-border-thickness solid #b56a2a;
$card-text-color: white;

$card-video-background: #51415f;
$card-video-border: $card-border-thickness solid #5eb663;

$card-header-h: 40px;
$card-header-font-size: 25px;
$card-header-font-weight: bold;
$card-header-background: $card-background;
$card-header-border: $card-border-thickness solid white;

$card-transform-y: 250px;
$card-transform-rotate: 360deg;

$card-gear-w: $card-header-h;
$card-gear-rail-color: gray;
$card-gear-rail-w: 5px;

$card-link-color: #257cee;

.t {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.card {
  position: relative;
  background-color: $card-background;
  width: $card-w;
  height: $card-h;
  transition: $card-transition;

  z-index: 2;
  margin-top: $card-transform-y;

  &--video {
    &--container {
      border-left: $card-video-border;
      border-right: $card-video-border;
      width: 100%;
      height: 100%;
      background-color: $card-video-background;
      position: absolute;
      transition: $card-transition;
      z-index: 1;
      top: 0;
      display: grid;
      place-items: center;
      padding: 20px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
  }

  &--gear {
    width: $card-gear-w;
    aspect-ratio: 1;
    position: absolute;
    transition: $card-transition;
    z-index: 3;

    &:not(:nth-child(2n)) {
      left: 0;
    }

    &:nth-child(2n) {
      right: 0;
    }

    &--rail {
      &:not(:nth-child(2n)) {
        left: calc($card-gear-w/2 - $card-gear-rail-w/2);
      }

      &:nth-child(2n) {
        right: calc($card-gear-w/2 - $card-gear-rail-w/2);
      }

      width: $card-gear-rail-w;
      bottom: calc($card-h - $card-header-h);
      background-color: $card-gear-rail-color;
      position: absolute;
      transition: $card-transition;
      max-height: 0;
      z-index: 2;
      height: $card-transform-y;
    }
  }

  &--inner {
    padding: 10px;
    position: absolute;
    color: $card-text-color;
    bottom: 0;
    top: $card-header-h;
    left: 0;
    right: 0;
    background: $card-background;
    z-index: 2;
    border-left: $card-border;
    border-right: $card-border;
    border-bottom: $card-border;

    &--container {
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
  }

  &--header {
    width: 100%;
    height: $card-header-h;
    background: $card-header-background;
    position: absolute;
    transition: $card-transition;
    text-align: center;
    display: grid;
    place-items: center;
    color: $card-text-color;
    font-size: $card-header-font-size;
    font-weight: $card-header-font-weight;
    z-index: 3;
    border-left: $card-header-border;
    border-right: $card-header-border;
    border-top: $card-header-border;
  }

  &--link {
    color: $card-link-color;
    text-decoration: none;
  }

  &:hover {
    .card {
      &--header {
        transform: translateY(-$card-transform-y);
      }

      &--video {
        &--container {
          transform: translateY(-$card-transform-y);
          height: $card-header-h + $card-transform-y;
        }
      }

      &--gear {
        &:not(:nth-child(2n)) {
          transform: translateY(-$card-transform-y + $card-gear-w) rotate(-$card-transform-rotate);
        }

        &:nth-child(2n) {
          transform: translateY(-$card-transform-y + $card-gear-w) rotate($card-transform-rotate);
        }

        &--rail {
          max-height: $card-transform-y;
        }
      }
    }
  }
}