*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.w-100 {
  width: 100%;
}

.container {
  padding: 0 30px;
}

.suspense {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  &--icon{
    animation: rotate 1s linear infinite;
    @keyframes rotate {
      from{
        transform: rotate(0deg);
      }
      to{
        transform: rotate(360deg);

      }
    }
    transform: rotate(360deg);
  }
}

// Colors
$bg-color: hsl(256,33%,10%);
$dot-color: hsl(256,33%,70%);

// Dimensions
$dot-size: 1px;
$dot-space: 22px;
#app {
  background:
		linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
		linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
		$dot-color;
	background-size: $dot-space $dot-space;
  // background: linear-gradient(180deg, #1b2838, #221229);
  padding-bottom: 50px;
  min-height: 100vh;
  overflow-x: hidden;
}


