
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.w-100{
    width: 100%;
}


.json-text{
  height: 500px;
  overflow: scroll;
}

.base-test{
  word-break: break-all;
  height: 500px;
  overflow: scroll;
}