.dragdrop {
  height: 200px;
  border: 2px dashed yellow;
  background: #061260;
  margin: 10px 0;
  display: grid;
  place-items: center;
  position: relative;
  &--warning{
    background: red !important;
  }  
  &--info{
    background: #0b20ad !important;
  }
  &--title {
    color: white;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
  }
  &--area{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
  }
  &--input {
    display: none;
  }
  &--result{
    color: red;
    font-size: large;
    font-weight: bold;
  }
}
