.imageeditor {
  display: inline-block;
  position: relative;

  &--settings {
    color: white;
    display: grid;
    place-items: center;
    gap: 10px 0;
    &--container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      padding-top: 20px;
    }

    &--label {
      font-size: 24px;
    }
    &--helper {
      font-size: 16px;
    }
    &--input{
      &__red{
        border: 1px solid red;
      }
    }
  }
  &--canvas{
    padding: 10px;
  }
}
