$input-border: 1px solid #fff;
$input-padding: 10px 0;
$input-color: #fff;
$canvas-padding: 10px;

.imageeditor {
  display: inline-block;
  position: relative;

  &--settings {
    color: white;
    display: grid;
    place-items: center;
    gap: 10px 0;
    &--container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      padding-top: 20px;
    }

    &--label {
      font-size: 24px;
    }
    &--helper {
      font-size: 16px;
    }
    &--input {
      border: none;
      border-bottom: $input-border;
      background: transparent;
      padding: $input-padding;
      width: 100%;
      outline: none;
      color: $input-color;
      max-width: 100%;
      &::placeholder {
        color: $input-color;
      }
    }
  }
  &--canvas {
    padding: $canvas-padding;
  }
}
