.result{
    word-break: break-all;
    max-height: 240px;
    overflow: auto  ;
    outline: 1px solid white;
    &--container{
        color: white;
    }
    &--help{
        color: white;
        font-size: 46px;
    }
}

